LudumDareProject/LudumDareProject/Temp/UnityLockfile
LudumDareProject/LudumDareProject/Library/CurrentLayout.dwlt
LudumDareProject/LudumDareProject/LudumDareProject.userprefs
LudumDareProject/LudumDareProject/Library/expandedItems
LudumDareProject/LudumDareProject/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
LudumDareProject/LudumDareProject/Library/assetDatabase3
LudumDareProject/LudumDareProject/Library/metadata/8c/8ca1d3f76b1e4a640bca3c5b993bb4b4
LudumDareProject/LudumDareProject/Library/metadata/00/00000000000000003000000000000000
LudumDareProject/LudumDareProject/Temp/UnityTempFile-cf625583f02a9e24ea7f6b25c513df73
